<ion-content [fullscreen]="true">
  <div class="min-h-screen flex items-center justify-center   px-4 sm:px-6 lg:px-8">
    <div *ngIf="step1" id="step1" class="max-w-md w-full space-y-8">
  
      <div>
    
     
        <a (click)="redirect('/index')" >
          <img class="mx-auto h-5 w-auto" src="../../../assets/front/Logo_icon.png" alt="Workflow">
        </a>
        
        <h2 class="mt-6 text-center text-3xl font-extrabold ">
          Let's reset your password
        </h2>
  
        <img class="mx-auto h-24 w-auto" src="../../../assets/front/Image.png" alt="Workflow">
   
      </div>
      <div class="mt-8 space-y-6">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email-address" class="sr-only">Email Or Phone </label>
            <ion-input id="email-address" [(ngModel)]="email" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 p-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm mb-1" placeholder="Email Or Phone">
          </ion-input>
            </div>
       
        </div>
  
       
       
  
  
  
       
  
        <div>
        
          <ion-button color="tertiary" (click)="send()" class="group relative w-full flex justify-center  border border-transparent text-sm font-extrabold rounded-md text-white hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            SEND MAIL VERIFICATION 
    
  
          </ion-button>
        </div>
       
      </div>
    </div>

    <div *ngIf="step2" id="step2" class="max-w-md w-full space-y-8">
  
      <div>
    
     
        <a (click)="redirect('/index')" >
          <img class="mx-auto h-5 w-auto" src="../../../assets/front/Logo_icon.png" alt="Workflow">
        </a>
        
        <h2 class="mt-6 text-center text-3xl font-extrabold ">
          Enter verification code
        </h2>
  
        <img class="mx-auto h-24 w-auto" src="../../../assets/front/Image.png" alt="Workflow">
   
      </div>
      <div class="mt-8 space-y-6">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="verif-code" class="sr-only">Verificatopn token </label>
            <ion-input id="verif-code" name="verif-code" type="text" [(ngModel)]="token"  required class="appearance-none rounded-none relative block w-full px-3 p-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm mb-1" placeholder="verification code">
          </ion-input>
            </div>
       
        </div>
  
       
       
  
  
  
       
  
        <div>
        
          <ion-button color="tertiary" (click)="verify()" class="group relative w-full flex justify-center  border border-transparent text-sm font-extrabold rounded-md text-white hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            VERIFY CODE
    
  
          </ion-button>
        </div>
       
      </div>
    </div>

    <div *ngIf="step3" id="step3" class="max-w-md w-full space-y-8">
  
      <div>
    
     
        <a (click)="redirect('/index')" >
          <img class="mx-auto h-5 w-auto" src="../../../assets/front/Logo_icon.png" alt="Workflow">
        </a>
        
        <h2 class="mt-6 text-center text-3xl font-extrabold ">
          Enter new password
        </h2>
  
        <img class="mx-auto h-24 w-auto" src="../../../assets/front/Image.png" alt="Workflow">
   
      </div>
      <div class="mt-8 space-y-6">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="password" class="sr-only">Password </label>
            <ion-input id="password" [(ngModel)]="password" name="password" type="password" autocomplete="password" required class="appearance-none rounded-none relative block w-full px-3 p-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm mb-1" placeholder="New password">
          </ion-input>
            </div>
       
        </div>

        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="password" class="sr-only">Password confirm </label>
            <ion-input id="password" name="password" type="password" autocomplete="password" required class="appearance-none rounded-none relative block w-full px-3 p-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm mb-1" placeholder="Confirm password">
          </ion-input>
            </div>
       
        </div>
  
       
       
  
  
  
       
  
        <div>
        
          <ion-button color="tertiary" (click)="reset()" class="group relative w-full flex justify-center  border border-transparent text-sm font-extrabold rounded-md text-white hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            RESET PASSWORD
    
  
          </ion-button>
        </div>
       
      </div>
    </div>
  </div>
</ion-content>
