<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/orders"></ion-back-button>
    </ion-buttons>

    <ion-title>
       Orders
    </ion-title>
    <ion-toggle  class="bg-green-100  bg-opacity-0" slot="end"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="map" style="height: 70VH;">
       

  </div>

  <form [formGroup]="directionForm"  (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <div class="justify-center">
      <ion-badge color="secondary">
        <h1>OID#{{id}}</h1>
      </ion-badge>
  
      <ion-button slot="start" type="submit">Get <ion-icon name="compass-outline"></ion-icon></ion-button>
      <ion-button color="secondary"  slot="end" (click)="presentModal()"><b class="text-white"> Order details</b> </ion-button>
      <ion-button color="success" expand="block"  slot="end" (click)="accept()"><b class="text-white"> ACCEPT</b>
      </ion-button>
  
    </div>



  </form>
</ion-content>
