<ion-header [translucent]="true">
  <ion-toolbar>


    <ion-title>
       Orders 
    </ion-title>
    <ion-toggle checked={{dark}} class="bg-green-100  bg-opacity-0" (ionChange)="onClick($event)" slot="end"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style='border-bottom: 6px solid #eaeaea'>
    <ul class='flex cursor-pointer justify-center'>
        <li class='py-2 px-6 bg-white rounded-t-lg'>New orders</li>
        <li class='py-2 px-6 bg-white rounded-t-lg text-gray-500 bg-gray-200'>Accepted orders</li>

    </ul>
  </div>
  <ion-card *ngFor="let order of orders">
    <ion-item>
      
      <ion-label> <b>Order#{{order.order.id}}</b> ({{order.order.restaurant.name}})</ion-label>
      <ion-badge slot="start" color="success">New</ion-badge>
      <a href="orders/details/{{order.order.id}}"  >
        <ion-button color="warning" slot="end"><ion-icon name="navigate-circle-outline"></ion-icon></ion-button>
      </a>
    
    </ion-item>
  
    <ion-card-content>

      <div>

    
        <b>Distance to restaurant: </b>  {{order.distance/1000| number : '1.1-1'}} KM  <br>
        
      </div>

      <div>

    
        <b>Distance to client: </b>  {{order.distanceClient/1000| number : '1.1-1'}} KM  <br>
        
      </div>
      <div>
        <b>Total price: </b> {{order.order.totalPrice}} {{order.order.restaurant.currency.symbol}} 
      </div>
      <ion-item>
        <ion-button (click)="accept()" color="success" slot="end">ACCEPT</ion-button>
      </ion-item>
    </ion-card-content>

 

  </ion-card>


  
</ion-content>
