<ion-header [translucent]="true"  class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>

    <ion-title>
       Settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="moon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- component -->
<div class="p-0">

  <div class="mt-2 p-4">
      <div>
          <div class="font-bold text-gray-600 text-xs leading-8 uppercase h-6 mx-2 mt-3">Full Name</div>
          <div class="flex flex-col md:flex-row">
              <div class="w-full flex-1 mx-2 svelte-1l8159u">
                  <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                      <input placeholder="First Name" [(ngModel)]="delivery.firstName" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
              </div>
              <div class="w-full flex-1 mx-2 svelte-1l8159u">
                  <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                      <input placeholder="Last Name" [(ngModel)]="delivery.lastName" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
              </div>
          </div>
          <div class="flex flex-col md:flex-row">
              <div class="w-full mx-2 flex-1 svelte-1l8159u">
                  <div class="font-bold h-6 mt-3 text-gray-600 text-xs leading-8 uppercase"> Mobile</div>
                  <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                      <input placeholder="+216" [(ngModel)]="delivery.telephone" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
              </div>
              <div class="w-full mx-2 flex-1 svelte-1l8159u">
                  <div class="font-bold h-6 mt-3 text-gray-600 text-xs leading-8 uppercase"> Your Email</div>
                  <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                      <input placeholder="jhon@doe.com" [(ngModel)]="delivery.email" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
              </div>
          </div>
      </div>
      <div class="flex p-2 mt-4">
          <button class="text-base hover:scale-110 focus:outline-none flex justify-center px-8 py-2 rounded font-bold cursor-pointer 
      hover:bg-gray-200  
      bg-gray-100 
      text-gray-700 
      border duration-200 ease-in-out 
      border-gray-600 transition">Update</button>
          <div class="flex-auto flex flex-row-reverse">
         
          </div>
      </div>
  </div>
</div>



  
</ion-content>
