<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="map" style="height: 90VH;"></div>
  <ion-button  (click)="calculateAndDisplayRoute()">Get <ion-icon name="compass-outline"></ion-icon></ion-button>
  <ion-button color="secondary"  (click)="dismiss()"><b class="text-white"> <ion-icon size="large" name="return-down-back-outline"></ion-icon></b> </ion-button>
</ion-content>



 