<ion-header mode="ios" class="ion-no-border">
  <img
  class="mx-auto h-10 w-14 mt-2 "
  src="../../../assets/front/Logo_icon.png"
  alt="Workflow"
/>




<!-- <ul *ngIf="login" class='flex cursor-pointer justify-center'>
  <li (click)="showRegisterPage()"  class='py-2 px-6 w-screen m-4  bg-gray-500 hover:bg-gray-700 focus:bg-gray-700 text-white rounded-lg '>Register</li>
  <li (click)="showLoginPage()"  class='py-2 px-6 m-4 w-screen  rounded-t-lg  bg-green-500 hover:bg-green-700 focus:bg-green-700 text-white rounded-lg '>Login</li>

</ul>

<ul *ngIf="!login" class='flex cursor-pointer justify-center'>
<li (click)="showRegisterPage()"  class='py-2 px-6 m-4 w-screen  rounded-t-lg bg-green-500 hover:bg-green-700 focus:bg-green-700 text-white rounded-lg  '>Register</li>
<li (click)="showLoginPage()"  class='py-2 px-6 w-screen m-4  rounded-t-lg bg-gray-500 hover:bg-gray-700 focus:bg-gray-700 text-white rounded-lg'>Login</li>


</ul> -->
</ion-header>





<div
class="min-h-screen mt-1 flex  justify-center px-4 sm:px-6 lg:px-8"
>
<div class="max-w-md w-full space-y-8">

<div>


<app-login *ngIf="login">

</app-login>
<app-register *ngIf="!login">

</app-register>
</div>


</div>
</div>

 