<ion-header [translucent]="true"  class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"  defaultHref="/orders"></ion-back-button>
    </ion-buttons>

    <ion-title>
       Settings
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!-- component -->
<!-- This is an example component -->
<div class="my-1">
  <div class=" rounded overflow-hidden ">
    <div class="text-center p-6  border-b">
      <img
        class="h-24 w-24 rounded-full mx-auto"
        src="https://randomuser.me/api/portraits/men/24.jpg"
        alt="Randy Robertson"
      />
      <p class="pt-2 text-lg font-semibold">Randy Robertson</p>
      <p class="text-sm ">randy.robertson@example.com</p>
      <div class="mt-5">
    
      </div>
    </div>
    <div class="border-b">

      <a (click)="payoutPage()" class="px-4 py-2  flex">
        <div>
          <ion-icon  class="w-5 h-5" name="settings-sharp"></ion-icon>
       
        </div>
        <div class="pl-3">
          <p class="text-sm font-medium leading-none">Payout settings</p>
          <p class="text-xs ">Add, update payment method</p>
        </div>
      </a>
      <a (click)="profilePage()" class="px-4 py-2  flex">
        <div >
          <ion-icon class="w-5 h-5" name="person-sharp"></ion-icon>
       
        </div>
        <div class="pl-3">
          <p class="text-sm font-medium leading-none">Personal settings</p>
          <p class="text-xs">Profile, notifications</p>
        </div>
      </a>
      <a (click)="presentActionSheet()" class="px-4 py-2  flex">
        <div >
          <ion-icon class="w-5 h-5" name="color-palette-sharp"></ion-icon>
        
        </div>
        <div class="pl-3">
          <p class="text-sm font-medium leading-none">Apparence</p>
          <p class="text-xs">Theme, dark mode </p>
        </div>
      </a>
   
    </div>

    <div class="my-10">
      <a href="#" class="px-4 py-2 pb-4    flex">
        <p class="text-sm font-medium  leading-none">Support FAQ</p>
      </a>
   
    </div>
  </div>
</div>
 





  
</ion-content>
