<ion-header [translucent]="true"  class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/orders"></ion-back-button>
    </ion-buttons>

    <ion-title>
       Settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="moon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!-- component -->
<!-- This is an example component -->
<div class="my-1">
  <div class=" rounded overflow-hidden ">
    <div class="text-center p-6  border-b">
      <img
        class="h-24 w-24 rounded-full mx-auto"
        src="https://randomuser.me/api/portraits/men/24.jpg"
        alt="Randy Robertson"
      />
      <p class="pt-2 text-lg font-semibold">Randy Robertson</p>
      <p class="text-sm ">randy.robertson@example.com</p>
      <div class="mt-5">
        <a
          href="#"
          class="border rounded-full py-2 px-4 text-xs font-semibold"
        >
          Manage your Account
        </a>
      </div>
    </div>
    <div class="border-b">

      <a (click)="payoutPage()" class="px-4 py-2  flex">
        <div>
          <svg
            fill="none"
            stroke="currentColor"
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="1"
            viewBox="0 0 24 24"
            class="w-5 h-5"
          >
            <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
        </div>
        <div class="pl-3">
          <p class="text-sm font-medium leading-none">Payout settings</p>
          <p class="text-xs ">Add, update payment method</p>
        </div>
      </a>
      <a (click)="profilePage()" class="px-4 py-2  flex">
        <div >
          <svg
            fill="none"
            stroke="currentColor"
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="1"
            viewBox="0 0 24 24"
            class="w-5 h-5"
          >
            <path d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="pl-3">
          <p class="text-sm font-medium leading-none">Personal settings</p>
          <p class="text-xs">Profile, notifications</p>
        </div>
      </a>
   
    </div>

    <div class="my-10">
      <a href="#" class="px-4 py-2 pb-4    flex">
        <p class="text-sm font-medium  leading-none">Support FAQ</p>
      </a>
      <a href="#" class="px-4 py-2 pb-4   flex">
        <p class=" font-medium   leading-none"> <ion-icon size="large" name="log-in-sharp"></ion-icon> Logout</p>
      </a>
    </div>
  </div>
</div>
 





  
</ion-content>
