<div *ngIf="loading">

  <ion-card >
    <ion-item>
  
      <ion-label> <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></ion-label>
      <ion-badge slot="start" color="primary"></ion-badge>
      <!--
        <a href="orders/info/{{order.order.id}}"  >
        <ion-button color="secondary" slot="end"><ion-icon size="large" name="navigate-circle-outline"></ion-icon></ion-button>
      </a>
      -->
     
    
    </ion-item>

  
    <ion-card-content>

      <div>

    
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text> <br>
        
      </div>

      <div>

    
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text> <br>
        
      </div>
      <div>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
      </div>
    
    </ion-card-content>

 

  </ion-card>
  <ion-card >
    <ion-item>
  
      <ion-label> <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></ion-label>
      <ion-badge slot="start" color="primary"></ion-badge>
      <!--
        <a href="orders/info/{{order.order.id}}"  >
        <ion-button color="secondary" slot="end"><ion-icon size="large" name="navigate-circle-outline"></ion-icon></ion-button>
      </a>
      -->
     
    
    </ion-item>

  
    <ion-card-content>

      <div>

    
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text> <br>
        
      </div>

      <div>

    
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text> <br>
        
      </div>
      <div>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
      </div>
    
    </ion-card-content>

 

  </ion-card>
  <ion-card >
    <ion-item>
  
      <ion-label> <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></ion-label>
      <ion-badge slot="start" color="primary"></ion-badge>
      <!--
        <a href="orders/info/{{order.order.id}}"  >
        <ion-button color="secondary" slot="end"><ion-icon size="large" name="navigate-circle-outline"></ion-icon></ion-button>
      </a>
      -->
     
    
    </ion-item>

  
    <ion-card-content>

      <div>

    
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text> <br>
        
      </div>

      <div>

    
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text> <br>
        
      </div>
      <div>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
      </div>
    
    </ion-card-content>

 

  </ion-card>
  <ion-card >
    <ion-item>
  
      <ion-label> <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></ion-label>
      <ion-badge slot="start" color="primary"></ion-badge>
      <!--
        <a href="orders/info/{{order.order.id}}"  >
        <ion-button color="secondary" slot="end"><ion-icon size="large" name="navigate-circle-outline"></ion-icon></ion-button>
      </a>
      -->
     
    
    </ion-item>

  
    <ion-card-content>

      <div>

    
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text> <br>
        
      </div>

      <div>

    
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text> <br>
        
      </div>
      <div>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
      </div>
    
    </ion-card-content>

 

  </ion-card>

</div>
   
<ion-card *ngFor="let order of orders">
  <ion-item>
    
    <ion-label (click)="detail(order.id)"> <b>Order#{{order.id}}</b> ({{order.restaurant.name}})</ion-label>
    <ion-badge slot="start" color="primary"></ion-badge>
    <!--
 <ion-button (click)="detail(order.id)" color="secondary" slot="end"><ion-icon size="large" name="navigate-circle-outline"></ion-icon></ion-button>
    -->
     
  
  
  </ion-item>

  <ion-card-content>

    

   
    <div>
      <b>Total price: </b> {{order.totalPrice}} {{order.restaurant.currency.symbol}} 
    </div>
    <div>
      <b>Payment: </b> Cash on delivery
    </div>
    <div>
      <b>Delivery address: </b> {{order.adresseLivraison}} 
    </div>
    <ion-item>
      <ion-button (click)="presentModal(order)" color="dark" slot="start"><ion-icon name="map-outline"></ion-icon></ion-button>
      <ion-button (click)="accept(order.order.id)" color="dark" slot="start"><ion-icon  name="call-outline"></ion-icon> </ion-button>
      <ion-button (click)="accept(order.order.id)" color="tertiary" slot="start"> Finish order </ion-button>
    </ion-item>
  </ion-card-content>



</ion-card>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="dots"
    loadingText="Loading more orders...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
