<ion-header [translucent]="true"  class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"  defaultHref="/settings"></ion-back-button>
    </ion-buttons>

    <ion-title>
       Settings
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- component -->


<div class=" items-center justify-center p-5">
  <div class="m-2">
    <h1 class="text-left font-bold text-xl uppercase">Payout methods</h1>
    

    <div *ngIf="delivery?.paymentMethods.length==0" class=" mt-5 bg-yellow-100 border-l-4 border-green-500 text-yellow-700 p-4" role="alert">
      <p class="font-bold">No payment method added</p>
      <p (click)="sendMailConfirm()">add method to receive your pending commissions</p>
    </div>

</div>
<ion-list>
      

  <ion-item   *ngFor="let method of delivery?.paymentMethods" >
   
      <ion-avatar slot="start">
        <img  *ngIf="method.type=='PAYPAL'"  src="/assets/back/paypal.jpg">
        <img *ngIf="method.type=='CARD'" src="/assets/back/credit_card_logo.png">
        <img *ngIf="method.type=='MOBILEMONEY'" src="/assets/back/16_-_Smart_phone-512.webp">
      </ion-avatar>
 
    <ion-label>
      <h2>
        <ion-badge *ngIf="method.principale" color="success">
          <input type="radio" value="" checked >  DEFAULT
          </ion-badge>
          <ion-badge *ngIf="!method.principale" color="dark">
            <input type="radio" value="" >  DEFAULT
            </ion-badge>
      </h2>
      <p *ngIf="method.type=='CARD'" >
        **** {{method.cardNumber.substring(11,15)}}   
    
      </p>

      <p *ngIf="method.type=='MOBILEMONEY'">
        {{method.mobile}}
    
      </p>
      <p  *ngIf="method.type=='PAYPAL'" >
        {{method.email}}
      </p>
    </ion-label>

    

   
  
    <ion-icon  (click)="deletetConfirm(method.id)"  size="medium" style="color: rgb(238, 83, 83);" name="trash-sharp"></ion-icon>
  
     
    
  </ion-item>


</ion-list>

   <br>
   <div>
     <ion-button color="tertiary" (click)="addPage()"  expand="full">
       ADD METHOD

     </ion-button>
  
</div>
  


   
 </div>





  
</ion-content>
