<ion-header [translucent]="true" class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/orders"></ion-back-button>
    </ion-buttons>

    <ion-title>
       Orders
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item>
      <ion-icon name="cart-outline" slot="start"></ion-icon>
      <ion-label>Order details</ion-label>
      <ion-button slot="end" (click)="presentModal()"><ion-icon size="large" name="navigate-circle-outline"></ion-icon></ion-button>
    
     
    </ion-item>
  
    <ion-card-content>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <h2>ID</h2>
        </div>
        <div>
          <h3>#{{order?.id}}</h3>
        </div>

        <div>
          <h2>Total price</h2>
        </div>
        <div>
          <h3>{{order?.totalPrice}} € </h3>
        </div>
        <div>
          <h2>Payment</h2>
        </div>
        <div>
          <h3>cash on delivery</h3>
        </div>
        <div>
          <h2>Client address</h2>
        </div>
        <div>
          <h3>{{order?.adresseLivraison}}</h3>
        </div>
        <div>
          <h2>Distance to resturant</h2>
        </div>
        <div>
          <h3>0.8KM</h3>
        </div>
        <div>
          <h2>Distance to client</h2>
        </div>
        <div>
          <h3>0.4KM</h3>
        </div>

        <div>

        </div>
        <div>
          
          <ion-button *ngIf="order?.status=='INDELIVERY'" color="tertiary" expand="block" ><b class="text-white"> Finish order</b></ion-button>
  
          <ion-button *ngIf="order?.status!='INDELIVERY'" color="success" expand="block"  (click)="accept()"><b class="text-white"> ACCEPT</b>
          </ion-button>
        </div>


      
        
      </div>
 
    </ion-card-content>

  </ion-card>
  


</ion-content>



 