<ion-card>
  <ion-item>
    <ion-icon name="cart-outline" slot="start"></ion-icon>
    <ion-label>Order details</ion-label>
  
   
  </ion-item>

  <ion-card-content>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <h2>ID</h2>
      </div>
      <div>
        <h3>#24545</h3>
      </div>
      <div>
        <h2>Delivery date</h2>
      </div>
      <div>
        <h3>16/03/2021 14:54PM</h3>
      </div>
      <div>
        <h2>Total price</h2>
      </div>
      <div>
        <h3>23$</h3>
      </div>
      <div>
        <h2>Items</h2>
      </div>
      <div>
        <h3>
          <ion-badge color="secondary">
            <ion-icon  name="albums-outline"></ion-icon>
          </ion-badge>
        </h3>
      </div>
    
      
    </div>
    
  </ion-card-content>
</ion-card>

  
<ion-button color="secondary"  (click)="dismiss()"><b class="text-white"> Return</b> </ion-button>