<ion-header [translucent]="true"  class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"  defaultHref="/settings"></ion-back-button>
    </ion-buttons>

    <ion-title>
       Settings
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- component -->
<div class="p-0">

  <div class="mt-2  p-2">
    <ion-label  class="text-left font-bold">Update your password</ion-label>
      <div class="p-2">
          <div class="font-bold text-gray-600 text-xs leading-8 uppercase h-6 mx-2 mt-3">Old password</div>
          <div class="flex flex-col md:flex-row">
              <div class="w-full flex-1 mx-2 svelte-1l8159u">
                  <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                      <input type="password" placeholder="current password" [(ngModel)]="old" class=" p-1 px-2 appearance-none outline-none w-full text-gray-800">
                    
                     </div>
                      
                      </div>
              
          </div>
          <div class="font-bold text-gray-600 text-xs leading-8 uppercase h-6 mx-2 mt-3">New password</div>
          <div class="flex flex-col md:flex-row">
              <div class="w-full flex-1 mx-2 svelte-1l8159u">
                  <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                      <input type="password" placeholder="new password" [(ngModel)]="new" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
              </div>

              <div class="w-full flex-1 mx-2 svelte-1l8159u">
                <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                    <input type="password" placeholder="repeat password" [(ngModel)]="newConfirm" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
            </div>
              
          </div>
      </div>
      <div class=" pl-3 mt-4">
          <ion-button color="success" expand="block" class="text-base hover:scale-110 focus:outline-none  justify-center  rounded font-bold cursor-pointer 
    
     transition" (click)="change()">Update</ion-button>
          <div class="flex-auto flex flex-row-reverse">
         
          </div>
      </div>
  </div>
</div>



  
</ion-content>
