<ion-content [fullscreen]="true">
  <div class="min-h-screen flex items-center justify-center   px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
  
      <div>
    
     
        <a (click)="redirect('/index')" >
          <img class="mx-auto h-5 w-auto" src="../../../assets/front/Logo_icon.png" alt="Workflow">
        </a>
        
        <h2 class="mt-6 mb-2 text-center text-3xl font-extrabold ">
         Login
        </h2>
  
        <img class="mx-auto h-24 w-auto" src="../../../assets/front/Image.png" alt="Workflow">
   
      </div>
      <div class="mt-8 space-y-6">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email-address" class="sr-only">Email Or Phone </label>
            <ion-input id="email-address" name="email" [(ngModel)]="loginForm.username" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 p-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm mb-1" placeholder="Email Or Phone">
          </ion-input>
            </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <ion-input placeholder="Password"  required class="appearance-none rounded-none relative block w-full px-3 p-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm" [(ngModel)]="loginForm.password" type="password"></ion-input>
         
          </div>
        </div>
  
       
       
  
  
  
        <div class="flex items-center justify-between">
  
  
          <div class="text-sm">
            <a (click)="redirect('/forget')"  class="font-medium text-green-600 hover:text-green-500">
              Forgot your password?
            </a>
          </div>
        </div>
  
        <div>
        
          <ion-button color="tertiary" (click)="authenticate()" class="group relative w-full flex justify-center  border border-transparent text-sm font-extrabold rounded-md text-white hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            LOGIN
    
  
          </ion-button>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
           
          </div>
  
          <div class="text-sm">
            <a (click)="redirect('/register')"  class="font-medium text-green-800 hover:text-green-500">
              Don't have an account?
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
