
<ion-header [translucent]="true"  class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"   (click)="dismiss()" defaultHref="/payments"></ion-back-button>
    </ion-buttons>

    <ion-title>
       
    </ion-title>
  
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="p-3 mb-4">
  <ion-item class="mb-3">
    <ion-icon name="wallet-outline" slot="start"></ion-icon>
    <ion-label>Comission details</ion-label>
    <ion-badge *ngIf="comission?.status=='PENDING'" slot="end" color="warning"><ion-icon  name="timer-outline"></ion-icon></ion-badge>
    <ion-badge *ngIf="comission?.status=='PAYED'" slot="end" color="success"><ion-icon name="checkmark-done-outline"></ion-icon></ion-badge>
  </ion-item>


    <div class="grid grid-cols-2 gap-4">
      <div>
        <h2>ID</h2>
      </div>
      <div>
        <h3>#{{comission?.id}}</h3>
      </div>
      <div>
        <h2>Date</h2>
      </div>
      <div>
        <h3>{{ comission.createdAt | date : 'short'  }}</h3>
      </div>
      <div>
        <h2>Rate</h2>
      </div>
      <div>
        <h3>{{comission.rate*100}}%</h3>
      </div>
      <div>
        <h2>Value</h2>
      </div>
      <div>
        <h3>{{comission.value}}€</h3>
      </div>
      <div *ngIf="comission?.status=='PAYED'">
        <h2>Payout date</h2>
      </div>
      <div *ngIf="comission?.status=='PAYED'">
        <h3>{{comission.payedAt | date : 'short' }}</h3>
      </div>
      <div *ngIf="comission?.status=='PAYED'">
        <h2>Payout method</h2>
      </div>
      <div *ngIf="comission?.status=='PAYED'">
        <h3>{{comission.payedWith.type}}</h3>
      </div>
    
      
    </div>
    
</div>



<div class="p-3">
  <ion-item class="mb-3">
    <ion-icon name="cart-outline" slot="start"></ion-icon>
    <ion-label>Order details</ion-label>
  
   
  </ion-item>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <h2>ID</h2>
    </div>
    <div>
      <h3>#{{comission?.commande?.id}}</h3>
    </div>
    <div>
      <h2>Delivery date</h2>
    </div>
    <div>
      <h3>{{comission?.commande?.deliveredAt | date: 'short'}}</h3>
    </div>
    <div>
      <h2>Total price</h2>
    </div>
    <div>
      <h3>{{comission?.commande?.totalPrice}} €</h3>
    </div>
    <div>
      <h2>Payed with</h2>
    </div>
    <div>
      <h3> CASH</h3>
    </div>
 
  
    
  </div>
  

</div>




  



<div id="order">

</div>



  
</ion-content>
